# 00 - Homework Discussion
> Understanding grades

## Question 2:
Suppose you are given a dictionary of 3 numbers, where they keys will be student names and the values will be grades.  Write a function which returns the maximum grade.
- Bonus reflection:  Can you return the POSITION of the maximum grade?  Why or why not?
- Bonus 2: Modify this code so that the key associated with the maximum grade is returned.
- Bonus 3: Modify this code so that the key and value corresponding to the maximum grade is returned.

In [8]:
def get_max_grade(student_grades):
    max_grade = -10000
    max_student = None
    
    for student, grade in student_grades.items():
        if grade > max_grade:
            max_grade = grade
            max_student = student
    
    return max_student, max_grade

In [9]:
#Make test case
student_grades = {'Morgan': 98, 'Anna': 100, 'Taylor': 97}
student_grades

{'Morgan': 98, 'Anna': 100, 'Taylor': 97}

In [10]:
#test test case
get_max_grade(student_grades)

('Anna', 100)

## Bonus

Consider the dictionary of question 3.  This corresponds to student grades on a single individual test.  What about if you wanted to know about student grades over 5 tests?
What would this dictionary look like?  (Hint: the values of a dictionary can be of arbitrary type, including lists)
Write a function which will return the name of the student with the highest average grade and the grade value.

In [12]:
student_gradebook = {'Morgan': [90, 92, 34, 25, 26],
                     'Anna': [34, 85, 100, 23, 24],
                     'Taylor': [45, 46, 23, 90, 97]}
student_gradebook

{'Morgan': [90, 92, 34, 25, 26],
 'Anna': [34, 85, 100, 23, 24],
 'Taylor': [45, 46, 23, 90, 97]}

What about the mean of a list?

In [16]:
def list_mean(list_nos):
    
    list_sum = 0
    
    for no in list_nos:
        list_sum += no
    
    return list_sum/len(list_nos)

In [17]:
student_gradebook['Morgan']

53.4

In [18]:
def get_max_grade(student_grades):
    max_grade = -10000
    max_student = None
    
    for student, grades in student_grades.items():
        
        mean_grade = list_mean(grades)
        
        if mean_grade > max_grade:
            max_grade = mean_grade
            max_student = student
    
    return max_student, max_grade

In [19]:
get_max_grade(student_gradebook)

('Taylor', 60.2)

#unpleasant.
# More pleasant:
Pandas:
- Implicit vs Explicit index
- Functionality

In [20]:
import pandas as pd

In [36]:
grade_df = pd.DataFrame(student_gradebook).T
grade_df

         0   1    2   3   4
Morgan  90  92   34  25  26
Anna    34  85  100  23  24
Taylor  45  46   23  90  97

In [37]:
#implicit indices
grade_df.reset_index(drop=True)

    0   1    2   3   4
0  90  92   34  25  26
1  34  85  100  23  24
2  45  46   23  90  97

In [39]:
#all explicit indices
grade_df.columns=['Test 1', 'Test 2', 'Test 3', 'Test 4', 'Test 5']
grade_df

        Test 1  Test 2  Test 3  Test 4  Test 5
Morgan      90      92      34      25      26
Anna        34      85     100      23      24
Taylor      45      46      23      90      97

In [44]:
#attempt previous work
grade_df.mean(axis=1).max()

60.2

In [52]:
grade_df.mean(axis=1).idxmax()

'Taylor'

In [46]:
grade_df.mean(axis=1)[grade_df.mean(axis=1)==grade_df.mean(axis=1).max()]

Taylor    60.2
dtype: float64

- What if there were NAs?
- What if there you wanted to compute the median grade?
- Standard deviations?
- Other numerical functions

Easier or harder in pandas vs basic Python?  Thoughts?

# Pros and Cons
Pandas:
+ Tons of built-in arithmetic and numerical manipulation
+ Indices tied to rows/columns
+ Great for analysis
+ Interplay with other packages (e.g., plotting, numerical analysis (numPy), modeling (scikit-learn))
- A bit more rigid for functionalization (must know the names/indices of column/index names)
- Learning curve

Basic Python data structures:
+ A bit less rigid for functionalization
+ No extra packages needed
+ Plays nice with some other packages (e.g., scikit-learn)
- More and complex code needed for analysis that takes a single line in pandas
- Inscrutable, unreadable, deparseable code for maintainability, especially in Jupyter notebooks
- Lots of basic analytic functions must be reinvented by hand

Your thoughts?